# Environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data & Logs
experiments/logs/*
experiments/checkpoints/*
!experiments/logs/.gitkeep
!experiments/checkpoints/.gitkeep
user_data/*
*.log
*.csv
!experiments/results_summary.csv

# IDEs
.vscode/
.idea/

# Freqtrade
.freqtrade/
dict.json
config.json
!freqtrade_setup/config.json
